@model DatabaseFirstDemo.Models.Role

@{
	ViewData["Title"] = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class=" col-md-12">
		<section class="panel">
			<header class="panel-heading">
				Chi tiết quyền hạn
			</header>
			<div class="panel-body">
				<div class=" col-md-12">
					<hr />
					<dl class="row">
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Name)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Name)
						</dd>
					</dl>
				</div>
				<div>
					<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Chỉnh sửa</a> |
					<a asp-action="Index" class="btn btn-success">Trở về</a>
				</div>
			</div>
		</section>
	</div>
</div>
